{% extends '../layout.html' %}
{% load static %}
{% block script %}
<script src = "{% static 'index/index.js' %}" defer></script>
<script src="{% static 'lib/cookie.min.js' %}" defer></script>
{% endblock %}
{% load static %}
{% block body %}
<div class="container-fluid">  
    <div class="create-form">
        <div class="container">
            <p class="forms-label">Start a new form</p>
            <div class="form-template-box" type="button">
                <img src = "{% static 'Icon/blank-form.png' %}" alt = "Blank form" title = "Blank form" id="create-blank-form-index">
                <span class="form-template-label">Blank Form</span>
            </div>        
        </div>
    </div>
    <div class="container">
        <div class="form-list">
            <p class="grey-title">Editing Forms:</p>
            <div class="form-status-block">
                {% for form in edit_forms %}
                <a href="{% url 'edit_form' form.code %}" class="form-list-link">
                    <div class="form-box">
                        <div class="form-list-title">
                            <h5 class="form-list-title-text">{{ form.title }}</h5>
                        </div>
                        {% if form.createdAt == form.updatedAt %}
                        <p class="form-list-timestamp">{{ form.createdAt }}</p>
                        {% else %}
                        <p class="form-list-timestamp">{{ form.updatedAt }}</p>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="form-list">
            <div class="form-status-block">
                <p class="green-title">Published Forms:</p>
                {% for form in published_forms %}
                <a href="{% url 'edit_form' form.code %}" class="form-list-link">
                    <div class="form-box">
                        <div class="form-list-title">
                            <h5 class="form-list-title-text">{{ form.title }}</h5>
                        </div>
                        {% if form.createdAt == form.updatedAt %}
                        <p class="form-list-timestamp">{{ form.createdAt }}</p>
                        {% else %}
                        <p class="form-list-timestamp">{{ form.updatedAt }}</p>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="form-list">
            <div class="form-status-block">
                <p class="purple-title">Republished Forms:</p>
                {% for form in republished_forms %}
                <a href="{% url 'edit_form' form.code %}" class="form-list-link">
                    <div class="form-box">
                        <div class="form-list-title">
                            <h5 class="form-list-title-text">{{ form.title }}</h5>
                        </div>
                        {% if form.createdAt == form.updatedAt %}
                        <p class="form-list-timestamp">{{ form.createdAt }}</p>
                        {% else %}
                        <p class="form-list-timestamp">{{ form.updatedAt }}</p>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        
        <div class="form-list">
            <div class="form-status-block">
                <p class="red-title">Closed Forms:</p>
                {% for form in closed_forms %}
                <a href="{% url 'edit_form' form.code %}" class="form-list-link">
                    <div class="form-box">
                        <div class="form-list-title">
                            <h5 class="form-list-title-text">{{ form.title }}</h5>
                        </div>
                        {% if form.createdAt == form.updatedAt %}
                        <p class="form-list-timestamp">{{ form.createdAt }}</p>
                        {% else %}
                        <p class="form-list-timestamp">{{ form.updatedAt }}</p>
                        {% endif %}
                    </div>
                </a> 
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}